/.DS_Store
/JavaScriptCore Demo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/JavaScriptCore Demo.xcodeproj/project.xcworkspace/xcuserdata/josephslinker.xcuserdatad/UserInterfaceState.xcuserstate
/JavaScriptCore Demo.xcodeproj/xcuserdata/josephslinker.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/JavaScriptCore Demo.xcodeproj/xcuserdata/josephslinker.xcuserdatad/xcschemes/xcschememanagement.plist
